$font-stack: Roboto,sans-serif;
$dark-grey: #323b43;
$light-grey: #f4f7f9;
$mid-grey: #59626a;
$midlight-grey: #ced7df;
$prim-color: #ff0033;

body {
  background-color: $dark-grey;
  font-family: $font-stack;
}

#page {
  width: 720px;
  margin: auto;
}

#logo {
  font-weight: 400;
  font-size: 21px;
  color: $mid-grey;
  letter-spacing: 5px;
  padding-top: 32px;
  display: inline-block;
}

#type {
  font-weight: 500;
  font-size: 14px;
  color: $light-grey;
  padding: 16px 0 16px 8px;
  display: inline-block;
}

#line-lo {
  width: 100%;
  border-bottom: 2px solid $light-grey;
  margin-top: -18px;
}

#line-sh {
  width: 158px;
  border-bottom: 2px solid $mid-grey;
  margin-top: -18px;
}

.card {
  width: 349px;
  background: $light-grey;
  border-radius: 3px;
  display: inline-block;
  margin-top: 4px;
}

.left {
  margin-right: 18px;
}

.score {
  font-weight: 700;
  font-size: 240px;
  color: $midlight-grey;
  display: inline;
  padding-left: 37px;
}

.btn-prim {
  font-weight: 500;
  font-size: 14px;
  color: $light-grey;
  width: 147px;
  text-align: center;
  vertical-align: middle;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 100px;
  border: 2px solid $mid-grey;
  display: inline-block;
  cursor: pointer;
  &:hover {
    border-color: $light-grey;
  }
}

.points-set {
  font-weight: 700;
  font-size: 14px;
  color: $light-grey;
  display: inline-block;
  width: 147px;
  text-align: center;
  vertical-align: middle;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: $prim-color;
  border-radius: 100px;
  border: 2px solid $prim-color;
  cursor: pointer;
  &:hover {
    background-color: $dark-grey;
    border: 2px solid $light-grey;
  }
}

.arrow {
  color: $mid-grey;
  font-size: 32px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 24px;
  padding-right: 24px;
}

.section {
  width: 440px;
  margin: 0 auto;
}

.team {
  color: $mid-grey;
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
}

.ball {
  color: $light-grey;
}

.play {
  color: $dark-grey;
}

.win {
  color: $prim-color;
}

.lose {
  color: $midlight-grey;
}

#tip {
  font-weight: 400;
  color: $mid-grey;
  font-size: 14px;
  text-align: center;
}

.footer {
  width: 380px;
  margin: -24px auto;
}
